
.image_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.image_wrapper img{
    border-style: none;
    flex: 1 1 70px;
    padding: 10px;
}

input{
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
}